extends Extends/page-structure



block pageContent
    include includes/Spinner
    include includes/sidebar
    main
        include includes/welcome
        include includes/Search
        include includes/Categories
        include includes/CategoryList
        include includes/Area
        include includes/AreaList
        include includes/Ingredients
        include includes/IngredientsList
        include includes/Contactus
        include includes/MealDetails
        
    